<h1>Question Index</h1>
<ul>
  <% @questions.each do |question| %>
      <li>
        <%= link_to question.content, question %><%=  %>
        <%= link_to '[delete]', question, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
</ul>   
