<h1><%= @display.content %></h1>

<%= render 'form', question: @question %>

<div id="zalgo_txt" >
  <% @responses.each do |question| %>
    <%= question.content %>
  <% end %>
  <% current_user.questions_asked.each do |question| %>
    <%= question.content %>
  <% end %>
</div>
<div id="zalgo" class="glitch-this"></div>