<h1><%= @display.content %></h1>

<%= render 'form', question: @question %>

<textarea id="zalgo_txt" >
  <% @responses.each do |question| %>
    <%= question.content %>
  <% end %>
  <% @questions.each do |question| %>
    <%= question.content %>
  <% end %>
</textarea>
<div id="zalgo" class="glitch-this"></div>

<script type="text/javascript">
  zalgo_textarea('zalgo_txt');
</script>