<h1><%= @display.content %></h1>

<%= render 'form', question: @question %>

<div id="glitch-this">
  <% @responses.each do |question| %>
    <p><%= question.content %></p>
    <% question.responses.each do |response| %>
      <p><%= response.content %></p>
    <% end %>
  <% end %>
</div>
