<div id="new-question-form">
<h1><%= @display.content %></h1>

<%= render 'form', question: @question %>
</div>
<div id="zalgo_txt" aria-hidden="true" >
  <% @responses.each do |question| %>
    <%= question.content %>
  <% end %>
  <% current_user.questions_asked.each do |question| %>
    <%= question.content %>
  <% end %>
</div>

<% if @responses.present? %>
  <div class="glitch-this zalgo first" aria-hidden="true"></div>
  <div class="glitch-this zalgo second" aria-hidden="true"></div>
  <div class="glitch-this zalgo third" aria-hidden="true"></div>
<% end %>