<table class="index-list">
<th colspan="2">Users Index</th>
<% @users.each do |user| %>
    <tr>
    <td><%= link_to user.username, user %>
    <% if user.is_admin %>(admin)<% end %>
    </td>       
    <% if current_user.is_admin %><td><%= link_to '[delete]', user, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
<% end %>
</table>
  