<h1>Welcome to the Vaporcake experience</h1>
<%= link_to 'Log In', new_user_session_path %>
<p>New here? Please <%= link_to 'register', new_user_registration_path %>.
"Just show me the music." <%= link_to 'Fine', releases_path %>.</p>
