<h3>Welcome to the</h3> <br />
<div id="head"><h1>Vaporcake</h1></div> <br />
<h3>experience</h3>
<%= link_to 'Log In', new_user_session_path, :class => 'btn' %>
<p>New here? Please <%= link_to 'register', new_user_registration_path %>.</p>
<p><span class="itals">"Just show me the music." </span> <%= link_to 'Fine', releases_path %>.</p>
