.index-list {
  margin: 0 auto;
  
  td {
    padding: 15px;
    text-align: left;
  }
  th {
    padding-bottom: 10px;
  }
}

.grid {
  display: inline-block;
  padding: 3%;
}

.text-detail {
  width: 80%;
  text-align: center;
  margin: 0 auto;

  @media only screen and (min-width: 800px) {
    float: right;
    width: 45%;
    text-align: left;
  }
}

.image-detail {
  width: 80%;

  img {
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 800px) {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-top: 15px;
  }
}

.detail {
  max-width: 80%;
  margin: 0 auto;
  min-height: 30vh;

  p:last-child {
    padding-top: 20px;
  }

  a {
    padding-right: 5px;
  }

  a:last-child {
    padding-left: 5px;
  }
}

.user {
  max-width: 80%;
  padding-bottom: 40px;
  margin: 0 auto;
}

.info {
  display: inline-block;

  h2 {
    margin-left: 10px;
  }

  img {
    margin-right: 5%;
    margin-top: 15px;
    border-radius: 5px;
  }
}

.question-grid {
  max-width: 70%;
  margin: 0 auto;
  clear: both;
  text-align: left;
  -webkit-columns: 2 240px;
     -moz-columns: 2 240px;
          columns: 2 240px;
  li {
    padding: 10px;
  }
}

.glitch-this {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.first {
  animation: vertical 120s linear infinite;
  -webkit-animation: vertical 120s linear infinite;
  -moz-animation: vertical 120s linear infinite;
  -o-animation: vertical 120s linear infinite;

  @-webkit-keyframes vertical {
    0% { margin-top: 0px; }
    100% { margin-top: -1600px; }
  }
  @-moz-keyframes vertical {
    0% { margin-top: 0px; }
    100% { margin-top: -1600px; }
  }
  @-o-keyframes vertical {
    0% { margin-top: 0px; }
    100% { margin-top: -1600px; }
  }
  @keyframes vertical {
    0% { margin-top: 0px; }
    100% { margin-top: -1600px; }
  }
}

.second {
  animation: horizontal 95s infinite alternate ease-in-out;
  -webkit-animation: horizontal 95s infinite alternate ease-in-out;
  -moz-animation: horizontal 95s infinite alternate ease-in-out;
  -o-animation: horizontal 95s infinite alternate ease-in-out;
  
  @-webkit-keyframes horizontal {
    from { left: 00%; }
    to { left: 100%; }
  }
  @-moz-keyframes horizontal {
    from { left: 00%; }
    to { left: 100%; }
  }
  @-o-keyframes horizontal {
    from { left: 00%; }
    to { left: 100%; }
  }
  @keyframes horizontal {
    from { left: 00%; }
    to { left: 100%; }
  }

}

.third {
  -webkit-columns: 3 240px;
  -moz-columns: 3 240px;
  columns: 3 240px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.asked {
  color: $primary-color;
}