@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900&subset=latin-ext';

h1, h2, h3, h4, h5, h6, ul, ol, p, a, table {
  font-family: 'Roboto', 'Helvetica', 'Verdana', sans-serif;
  color: white;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.3em;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.list {
  @extend p;
  text-align: left;
  color: $primary-color;

  a {
    color: $primary-color;
  }

  li {
    padding-left: 15px;
  }
}

.glitch-this {
  font-family: 'Arial', 'Times New Roman', sans-serif;
  text-align: left;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-size: 30px;
  color: rgba($med-gray, 0.6);
  text-align: center;
}



