h1, h2, h3, h4, h5, h6, ul, ol, p, a {
  font-family: 'Roboto', 'Helvetica', 'Verdana', sans-serif;
  color: white;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.3em;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  padding: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0;
}